body {
    font-family: Verdana, Arial;
    font-size: 15px;
}
.header {
    font-size: 35px;
    font-weight: bold;
    color: #308cac;
    margin: 20px 5px;
}
.pipeline-dashboard-header {
    font-weight: bold;
    font-size: 13px;
    color: #267089;
}
.pipeline-dashboard-header .pipeline .pipeline-step {
    background: transparent;
    border: transparent 1px solid;
    white-space: normal;
    margin-left: 1px;
    height: auto;
}
.pipeline-dashboard-header .pipeline .pipeline-transition {
    background: transparent;
    margin-left: 1px;
}

.pipeline{
    white-space: nowrap;
    margin-top: 15px;
}

.pipeline>DIV{
    display: inline-block;
    height: 30px;
    vertical-align: top;
}

.pipeline-name {
    width: 100px;
}
.pipeline-name DIV {
    height: 100%;
    padding: 5px;
}

.pipeline-step {
    border-radius: 5px;
    border: silver 1px solid;
    width: 100px;
    overflow: hidden;
}

.pipeline-step img {
    width: 0;
    height: 0;
}

.pipeline-transition {
    background: url('images/arrow-grey-3.png') center no-repeat;
    width: 30px;
}

.pipeline-transition.success{
    background: url('images/arrow-green-2.png') center no-repeat;
}

.pipeline-transition.stopped{
    background: url('images/stop-icon.gif') center no-repeat;
}

.pipeline-step.success {
	background-image: url('images/step-header-green.png');
    background-color: #8bfa3f;
    border-color: #66b82d;
}

.pipeline-step.failed {
	background-image: url('images/step-header-red.png');
    background-color: #FF4E42;
    border-color: #CE2727;
}


.pipeline-step.pending{
	background-image: url('images/step-header-grey.png');
    /*background-color: #dedede;*/
    background-color: #EFEFEF;
    border-color: #999999;
}

.pipeline-step.manual{
	background-image: url('images/step-header-yellow.png');
    background-color: #f9fc1c;
    border-color: #c9cb17;
}
.pipeline-step.running {
	/*background-image: url('images/step-header-blue.png');*/
    /*background-color: #499FBE;*/
    background-color: #EFF9FF;
    border-color: #6dc5e4;
}
.pipeline-step.running IMG{
    height: 32px;
    width: auto;
}

/*
.pipeline>DIV{
	width: 120px;
	height: 70px;
    white-space: normal;
    margin: 0;
    padding: 0;
}

.pipeline {
    background-color: yellow;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    display: inline-block;
}

.pipeline .pipeline-step{
	border: solid 1px silver;
    border-radius: 5px;
    height: 72px;
}

.pipeline .pipeline-step .pipeline-step-header{
}

.pipeline .pipeline-step .pipeline-step-content{
	padding: 2px;
}

.pipeline .pipeline-step.success .pipeline-step-header{
	background-image: url('images/step-header-green.png');
    background-color: #7BE649;
}
.pipeline .pipeline-step.success{
    background-color: #DBFFC9;
    border-color: #00C613;
}
.pipeline .pipeline-step.failure .pipeline-step-header{
	background-image: url('images/step-header-red.png');
    background-color: #FF4E42;
}
.pipeline .pipeline-step.failure{
    background-color: #FFF4F4;
    border-color: #CE2727;
}

.pipeline .pipeline-step.not-started .pipeline-step-header{
	background-image: url('images/step-header-grey.png');
    background-color: #C0C0C0;
}
.pipeline .pipeline-step.not-started{
    background-color: #EFEFEF;
    border-color: #999999;
}

.pipeline .pipeline-step.executing .pipeline-step-header{
	background-image: url('images/step-header-blue.png');
    background-color: #499FBE;
}
.pipeline .pipeline-step.executing{
    background-color: #EFF9FF;
    border-color: #3D859E;
}

.pipeline .pipeline-transition
{
    width: 60px;
    height: 72px;
}

.pipeline .pipeline-transition.manual
{
    width: 90px;
}

.pipeline-transition.active
{
    background: url('images/arrow-green.png') center no-repeat;
 }

.pipeline-transition.inactive
{
    background: url('images/arrow-grey.png') center no-repeat;
 }
.pipeline-transition.manual.active
{
    background: url('images/arrow-play-green-5.png') center no-repeat;
}
.pipeline-transition.manual.inactive
{
    background: url('images/arrow-play-grey-5.png') center no-repeat;
}
.pipeline-transition.manual.clickable
{
    background: url('images/arrow-play-green-orange-5.png') center no-repeat;
}

.pipeline2 {
    position:relative;
    top:42px;
    left:7px;
    width:722px;
    height:125px;
    overflow-x:auto;
    overflow-y:hidden;
    white-space: nowrap;
}

div#sub > div#ranking {

}
.pipeline2 > div {
    display: inline-block;
    width:67px;
    height:120px;
    margin-left:5px;
    background-color:#f3e1bb;
}

    */